.andar{
    display: flex;
    height:300px;
    width:300px;
    justify-content: space-around;
}
.bahr{
    display: flex;
}
h3{
    color: blue;
}
.things{
    height:180px;
    width:180px;
}
img{
    height:125px;
    width:125px;
    border-radius: 50%;
}
.image{
    height: 180px;
    width:180px;
    background-color:bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}
.out{
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
    height:250px;
    width: auto;
}
#holder{
    text-align: center;
}